body{
    padding-right: 70px;
    padding-left: 70px;
    color: #515151;
    font-family: 'Roboto Condensed', sans-serif;
}
header{ 
    display: flex;
    justify-content: space-between;
    position: static;
}

header img{
    width: auto;
    height: 20px;
    margin-left: 15px;
}
#SearchBar{
    display: grid;
    width: 500px;
    grid-template-columns: 4fr 1fr;
    height: 100%
}

#SearchBar input{   
    height: 100%;
    padding: 0px;
    height: 30px;
}

button{
    float: right; 
    height: 34px;
    border-width: 0px;
}
#SearchBtn{
    border-width: 2px;
}
iframe {
     padding-top: 50px;
     display: block;
     margin: auto;
     width: 800px;
     height: 600px;
}

#socialButtons{
     margin-left: 30px;
     margin-top: 10px;
     height: 25px;
     width: auto;
     margin-right: 10px;
 }
 #account{
     border-radius: 50%;
     margin-top: 10px;
 }
 #User{
     display: grid;
     grid-template-columns: 1fr 4fr 8fr 1fr;
 }
 #subscribe{
     color: #fff;
     background-color: rgb(204, 0, 0);
 }
.Info{
     display: grid;
     grid-template-columns: 4fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
 }
